.guide-main{
    position: absolute;
    top:0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.guide-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:-1;
    background-image: url("../images/guideBg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: guidebg-size 20s linear infinite alternate;
}

@keyframes guidebg-size {
    0% {transform: scale(1)}
    100% {transform: scale(1.2)}
}


.guide-title1{
    width:100%;
    padding-bottom: 10%;
    height:0px;
    background-image: url("../images/guideTitle1.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.guide-title2{
    margin-top: 6%;
    width:30%;
    padding-bottom: 14%;
    height:0px;
    background-image: url("../images/guideTitle2.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.guide-subtitle{
    margin-top:3%;
    width:30%;
    padding-bottom: 5%;
    height:0px;
    background-image: url("../images/subtile.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.animation-box{
    margin-top:3%;
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.animation-content{
    width: 34%;
    height: 0;
    padding-bottom: 34%;
    position: relative;
    cursor: pointer;
}

.animation-image{
    width: 60%;
    height:0;
    padding-bottom: 60%;
    position: absolute;
    top:20%;
    left:20%;
    background-image:url("../images/goBg.png");
    background-size:cover;
    animation: guide-rotate 3s linear infinite;
}

@keyframes guide-rotate {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}


.guide-go{
    width: 60%;
    height:0;
    padding-bottom: 60%;
    z-index: 10;
    position: absolute;
    top:20%;
    left:20%;
    background-image:url("../images/go.png");
    background-size:cover;
}

@keyframes guide-size {
    0% {transform: scale(1)}
    100% {transform: scale(0.6)}
}

.guide-go:hover{
    animation:guide-size 1.3s linear infinite;
}


@media (max-width: 500px) {
    .guide-content{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (min-width: 500px) {
    .guide-content{
        width: 60%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (min-width: 1200px) {
    .guide-content{
        width: 40%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


