<div id="aboutus">
    <div id="aboutus-pic"></div>
    <div id="aboutus-intro">
        <div id="title">ABOUT US</div>
        <div id="line"></div>
        <div id="title-cn">关于我们</div>
        <div id="content">
            明如传媒自2016年为品牌提供营销推广服务，是一家整合多元化能力，为品牌提供创意营销、精准推广服务的公司，
            一站式助力品牌、电商企业开展营销业务。我们有专业的营销服务团队实现高效的品牌推广，并利用KOL、新媒体渠道、
            线上线下社群，知名网站合作等将品牌和最终用户联结起来，最终实现品牌、电商企业的规模、利润提升，并不断深化
            与品牌的合作、接轨，探索更多的营销方式，提升品牌知名度。
        </div>
        <div id="intro-pic"></div>
    </div>
    <div id="aboutus-slogan">
        <div class="subpart">
            <div class="left">
                <div class="left-text-cn">文化</div>
                <div class="left-text-en">CULTURE</div>
            </div>
            <div class="right">创新是明如传媒的血液来源，以开放的互联网理念，推动企业发展。</div>
        </div>
        <div class="subpart" style="margin-top: 30px">
            <div class="left">
                <div class="left-text-cn">价值</div>
                <div class="left-text-en" style="min-width: 63px;text-align: center">VALUES</div>
            </div>
            <div class="right">结果导向，客户第一，保持乐观自信的团队精神是我们持之以恒的追求。</div>
        </div>
    </div>
</div>