<div id="customer">
    <div id="customer-pic"></div>
    <div id="aboutus-intro">
        <div id="title">CUSTOMERS</div>
        <div id="line"></div>
        <div id="title-cn">我们的客户</div>
        <div id="customer-content">
            <div class="container">
                <div class="row">
                    <div class="customer-logo " align="center" ng-repeat="item in customer.logos">
                        <img src="{{item}}">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>