<div id="customer">
    <div id="customer-pic"></div>
    <div id="aboutus-intro">
        <div id="title">CUSTOMERS</div>
        <div id="line"></div>
        <div id="title-cn">我们的客户</div>
        <div id="customer-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="../images/logo1.png" class="img-responsive">
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>