<div class="guide-main">
    <div class="guide-background"></div>
    <div class="guide-content">
        <div class="guide-title1 guide-text">BE YOU .WITH US.</div>
        <div class="guide-title2 guide-text">明如传媒</div>
        <div class="animation-box">
            <div class="animation-content">
                <div class="animation-image"></div>
                <div class="guide-go guide-text" ng-click="goHome()"></div>
            </div>
        </div>
        <div class="guide-subtitle guide-text">MUYOM MEDIA</div>
    </div>
</div>