<div id="home_1">
    <img src="../images/home_1.png">
</div>
<div id="home_2">
    <div id="home_2_box">
        <img id="home_2_box_aboutus" src="../images/home_2_aboutus.png">
        <img id="home_2_box_pic" src="../images/home_2_box_pic.png">
        <div>
            我们洞悉消费者，为品牌提供端到端的营销服务<br/>
            得益于对营销市场的深刻认知及成熟的营销传播服务，我们以创新巧妙的手法将品牌和最终用户联结起来。<br/>
            我们致力于保护和提升品牌形象，同时帮助实现其与消费者的沟通互动从而刺激销售，扩大利润。
        </div>
    </div>
</div>
<div id="home_3">
    <img id="home_3_history" src="../images/home_3_history.png">
    <img id="home_3_development" src="../images/home_3_development.png">
</div>
<div id="home_4">
    <img id="home_4_service" src="../images/home_4_service.png">
</div>
<div id="home_5">
    <img id="home_5_group" src="../images/home_5_serviceGroup.png">
</div>

