<div>
    <div id="service-pic"></div>
    <div id="service-intro">
        <div class="title">SERVICES</div>
        <div class="line"></div>
        <div class="title-cn">服务介绍</div>
        <div class="content row">
            <div class="box col-md-1-5 col-xs-14" >
                <img src="../images/service-pic-1.png">
                <div class="box-title">全渠道营销布局</div>
                <div class="box-detail">
                    <div><span class="box-ul-cricle">•</span><span>&nbsp&nbsp&nbsp布局移动端营销平台</span></span></div>
                    <div><span class="box-ul-cricle">•</span>&nbsp&nbsp&nbsp线下主题社区、社群</div>
                    <div><span class="box-ul-cricle">•</span>&nbsp&nbsp&nbspPGC内容制作、全渠道传播</div>
                </div>
            </div>
            <div class="col-md-1-5"></div>
            <div class="box col-md-1-5 col-xs-14" >
                <img src="../images/service-pic-2.png">
                <div class="box-title">精细营销体验</div>
                <div class="box-detail">
                    <div><span class="box-ul-cricle">•</span>&nbsp&nbsp&nbsp从前端的品牌营销到终端消费者需求的对接，利用人群定位实现精准营销。</div>
                </div>
            </div>
            <div class="col-md-1-5"></div>
            <div class="box col-md-1-5 col-xs-14" >
                <img src="../images/service-pic-3.png">
                <div class="box-title">优质客户服务</div>
                <div class="box-detail">
                    <div><span class="box-ul-cricle">•</span>&nbsp&nbsp&nbsp专业营销团队</div>
                    <div><span class="box-ul-cricle">•</span>&nbsp&nbsp&nbsp高效反应速度</div>
                    <div><span class="box-ul-cricle">•</span>&nbsp&nbsp&nbsp高于行业标准的转化率</div>
                    <div><span class="box-ul-cricle">•</span>&nbsp&nbsp&nbsp提升传播体验</div>
                </div>
            </div>
        </div>
    </div>
</div>