<div class="container" style="width: 100%">
  <header style="width: 100%">
    <div style="width: 100%">
      <div id="header_box">
        <div id="header_content">
          <div id="header_image">
            <img src="../images/home_header_logo.png">
            <span>专业的品牌营销服务商</span>
          </div>
          <div id="header_bar">
            <div><a class="active" ui-sref="app.home">首页</a></div>
            <div><a ui-sref="app.service">服务介绍</a></div>
            <div><a ui-sref="app.customer">我们的客户</a></div>
            <div><a ui-sref="app.aboutus">关于我们</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="main-content" ui-view="content">
  </div>

<footer>
    <div class="bottom_box">
        <div class="bottom_content">
            <div class="bottom_on">
                <div class="bottom_on_left">
                    <img src="../images/logo_foot.png">
                    <span></span>
                    <div class="text_boxes">
                        <div>
                            微信关注：明如传媒
                        </div>
                        <div>
                            市场合作：osworld@mrmedia
                        </div>
                        <div>
                            简历投递：hr@mrmedia.club
                        </div>
                        <div>
                            办公地址：杭州市余杭区良睦路1399号梦想小镇23号楼
                        </div>
                    </div>
                </div>
                <div class="bottom_on_right">
                    <img src="../images/QRCode.jpg">
                    <div>
                        关注微信公众平台
                    </div>
                </div>
            </div>
            <div class="bottom_down">
                <span>苏ICP备12042662号 ©2011-2017 www.mrmedia.com.All Rights Reserved. 无锡明如传媒有限公司</span>
            </div>
        </div>
    </div>
</footer>

</div>
